@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Victor+Mono:wght@600&display=swap');

#editor {
    z-index: 1;
    background-color: black;
    color: green;
    font-family: 'Victor Mono', sans-serif;
    overflow: visible;
    border: none;
    height: 20rem;
    width: 35rem;
    border-top: 70px solid green;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    resize: vertical;
    padding: 50px;
}

pre {
    font-family: 'Victor Mono', sans-serif;
}

#preview {
    /* position: relative; */
    border: none;
    border-top: 70px solid rgb(44, 38, 77);
    border-radius: 40px;
    background-color: white;
    height: 55em;
    width: 60em;
    overflow: scroll;
    padding: 70px;
    overflow-x: hidden;
    /* left: 19.56vw; */
}