body {
    font-family: 'Victor Mono', sans-serif;
    zoom: 67%;
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
}

img {
    height: 5rem;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}
